# Can ignore specific files
.DS_Store

# Use wildcards as well
*~
*.swp
*.pyc
*.xml
*.dump
*.json

# Can ignore development db
db.sqlite3

# ignore local settings as well
/local.env

# Folders will be populated when running
/vmail/
/postfixadmin/static/**/
/logs/
/vmail/