{% extends "_layouts/base.html" %}

{% block nav %}
    <ul class="nav nav-list">
        <li class="nav-header">action</li>
        <li id="nav_add"><a href="{% url "mailbox_create_view" %}">add mailbox</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>Mailbox</h2>
        </div>
        <div class="span12">
            <ul>
            {% for mailbox in object_list %}
                <li> {{ mailbox.name }} {{ mailbox.username }} {{ mailbox.domain }} {{ mailbox.quota }} {{ mailbox.active }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block script %}
    $("#menu_mailbox").attr('class', 'active');
{% endblock %}
